[Unit]
Description=HamsterKombatBotService
After=network.target

[Service]
User=root
WorkingDirectory=/root/example/HamsterKombatBot/
Environment=PATH=/root/example/HamsterKombatBot/venv/bin/
ExecStart=/root/example/HamsterKombatBot/venv/bin/python3 /root/example/HamsterKombatBot/main.py -a 2

Restart=always

[Install]
WantedBy=multi-user.target
